.lab-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--bg-secondary);
    color: var(--text-primary);
    min-height: calc(100vh - 60px);
    /* height: 100vh; */
    width: 100%;
    position: absolute;
    top: -10px;
    /* margin: 0 auto; */
}

.lab-page-header {
    background: var(--gradient-accent);
    color: white;
    padding: 1rem 0;
    box-shadow: var(--shadow-lg);
    width: autox;
    position: relative;
    display: flex;
    justify-content: center;
    top: -90px;
    left: 0;
    right: 0;
    z-index: 2;
}

.lab-page-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.lab-page {
    position: relative;
    min-height: calc(100vh - 80px);
    top: 0;
    height: 100vh;
}

.my-custom-time-picker {
    border: 2px solid var(--border-color);
    border-radius: 12px;
    padding: 8px;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    box-shadow: none;
    outline: none;
  }

.my-custom-time-picker:hover {
    /* border-color: var(--accent-primary); */
    transform: scale(1.05);
}
 
 .react-time-picker__wrapper {
    border: none;
} 

.react-time-picker__inputGroup__input {
    border: none;
}